<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Minera del Perú">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Nosotros</title>
	<!-- Bootstrap -->
	<link href="/statics/css/bootstrap.min.css" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- Estilos -->
	<link rel="stylesheet" href="/statics/css/estilos.css">
	<link rel="stylesheet" href="/statics/css/tabstyle.css">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- NavBar -->

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="/">S.M.Z Contratistas</a>
		     </div>
		 	<div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav navbar-right">
			      <li class="active"><a href="Nosotros">Nosotros</a></li>
			      <li><a href="Proyectos">Proyectos</a></li>
			      <li><a href="Operaciones">Operaciones</a></li>
			      <li><a href="ResponsabilidadSocial">Responsabilidad Social</a></li>
			      <li><a href="OportunidadLaboral">Oportunidad Laboral</a></li>
			      <li><a href="#contacto" data-toggle="modal">Contacto</a></li>
			      <li><button type="button" class="btn btn-success navbar-btn"><a href="SignUp" class="Btn-Loggin">Login</a></button></li>
			    </ul>
		  	</div>
		</div>
	</div>

<!-- EndNavBar -->

<!-- TopImage-Attachment -->

	<div class="container-fluid top-container">
		<div class="row">
			<div class="col-md-12 top-image">
				<div class="text-center">
					<h1>Nosotros</h1>
					<p>Reconocemos y defendemos el derecho de nuestra fuerza laboral a contar con un lugar de trabajo seguro,</p>
					<p>representación colectiva, una remuneración justa y oportunidades de desarrollo.</p>
					<a href="" class="btn btn-primary">Ver Mas.</a>
				</div>
			</div>
		</div>
	</div>

<!-- EndTopImage-Attachment -->

<!-- Containers -->

	<div class="container-fluid">
    	<div class="row row-offcanvas row-offcanvas-left">

    		<!-- SideBar -->

        	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
	        	<div class="list-group">
	            	<a href="#" class="list-group-item active">Nosotros</a>
	            	<a href="#one" class="list-group-item" data-toggle="offcanvas">Mision</a>
	            	<a href="#two" class="list-group-item" data-toggle="offcanvas">Vision</a>
	            	<a href="#three" class="list-group-item" data-toggle="offcanvas">Objetivos</a>
	          	</div>
        	</div>

        	<!-- EndSideBar -->

        	<!-- Blocks -->
        
    		<div class="col-xs-12 col-sm-9 content">
          		<p class="pull-left">
                	<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Navegador</button>
            	</p>

	            <div class="text-center">
	                <h1>Acerca de Nosotros</h1>
	                <p class="lead">SALOMON MEDINA Z. CONTRATISTA MINEROS E.I.R.L, empresa que viene operando desde hace más de tres décadas brindando servicio a la industria minera nacional. Desarrollando trabajos de exploración, preparación y explotación de minerales; especializándonos en minería subterránea. 
					La experiencia obtenida a lo largo de los años, garantiza a nuestros clientes, un trabajo basado en nuestros tres pilares: Seguridad, Calidad y cuidado del Medio Ambiente.
	                </p>
	            </div>

				<div class="col-sm-12 text-center">

					<div class="col-xs-12 Nosotros-BoxArea bg-grey">
						<div class="col-sm-4">
							<a href="#" class="thumbnail home-thumb pre-thumb">
									<img src="/statics/images/thumbnails/Historia1.jpg" alt="Lamborghini Diablo">
								</a>
						</div>
						<div class="col-sm-8 text-center tt" id="one">
							<h2>Mision</h2>
							<p>Garantizar la satisfacción total de nuestros clientes, trabajando siempre con los más altos estándares de seguridad y calidad, teniendo como resultado la rentabilidad en cada uno de nuestros servicios.</p>
						</div>
					</div>

					<div class="col-xs-12 Nosotros-BoxArea bg-grey">
						<div class="col-sm-8 text-center tt" id="two">
							<h2>Vision</h2>
							<p>Nuestra visión convertirnos en una empresa líder en el mercado de servicios de exploración y explotación minera. Para lograrlo debemos mantener una búsqueda constante de “Cero Accidentes”.</p>
						</div>
						<div class="col-sm-4">
							<a href="#" class="thumbnail home-thumb pre-thumb">
									<img src="/statics/images/thumbnails/Historia2.jpg" alt="Lamborghini Diablo">
								</a>
						</div>
					</div>

					<div class="col-xs-12 Nosotros-BoxArea bg-grey">
						<div class="col-sm-4">
							<a href="#" class="thumbnail home-thumb pre-thumb">
									<img src="/statics/images/thumbnails/Historia3.jpg" alt="Lamborghini Diablo">
								</a>
						</div>
						<div class="col-sm-8 text-center tt" id="three">
							<h2>Objetivos</h2>
							<p>SALOMON MEDINA Z. CONTRATISTA MINEROS E.I.R.L, tiene como propósito brindar servicios de calidad a nuestros socios estratégicos, garantizando un mejoramiento continuo de eficiencia responsabilidad y disciplina, fomentando una cultura de seguridad con todos sus trabajadores.</p>
						</div>
					</div>

				</div>
			</div>

			<!-- EndBlocks -->
		</div>
	</div>

<!-- EndContainer -->

<!-- Footer -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="navbar-text pull-left">
				<p>&copy 2015 Contratistas</p>
			</div>
			<div class="navbar-text pull-right">
				<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
			</div>
		</div>
	</div>
<!-- EndFooter -->

<!-- ModalContacto-->
	<div class="modal fade" id="contacto" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="" class="form-horizontal" role="form">
					<div class="modal-header">
						<h4>Contacto</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="contact-name" class="col-sm-2 control-label">Nombre</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="contact-name" placeholder="Escriba su Nombre">
							</div>
						</div>
						<div class="form-group">
							<label for="contact-email" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="contact-email" placeholder="example@domain.com">
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-2 control-label">Mensaje</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="4"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Cerrar</a>
						<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<!-- EndModal Contacto-->


<!-- Scripts Privados -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/statics/js/bootstrap.min.js"></script>

<!-- Scripts Propios -->
	<script>
    	$(document).ready(function () 
    	{
    		$('[data-toggle=offcanvas]').click(function () 
    		{
	      		if ($('.sidebar-offcanvas').css('background-color') == 'rgb(255, 255, 255)') 
	      		{
	        		$('.list-group-item').attr('tabindex', '-1');
	      		} 
	      		else 
	      		{
	        		$('.list-group-item').attr('tabindex', '');
	      		}
	      		$('.row-offcanvas').toggleClass('active'); 
    		});
  		});
  	</script>

</body>
</html>