<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Minera del Perú">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Operaciones</title>
  <!-- Bootstrap -->
  <link href="/statics/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Estilos -->
  <link rel="stylesheet" href="/statics/css/estilos.css">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
  
<!-- NavBar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">S.M.Z Contratistas</a>
          </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="Nosotros">Nosotros</a></li>
          <li><a href="Proyectos">Proyectos</a></li>
          <li class="active"><a href="Operaciones">Operaciones</a></li>
          <li><a href="ResponsabilidadSocial">Responsabilidad Social</a></li>
          <li><a href="OportunidadLaboral">Oportunidad Laboral</a></li>
          <li><a href="#contacto" data-toggle="modal">Contacto</a></li>
          <li><button type="button" class="btn btn-success navbar-btn"><a href="SignUp" class="Btn-Loggin">Login</a></button></li>
        </ul>
      </div>
    </div>
  </div>
<!-- EnNavBar-->

<!-- TopImage-Attachment -->

  <div class="container-fluid top-container">
    <div class="row">
      <div class="col-md-12 top-image">
        <div class="text-center">
          <h1>Operaciones</h1>
          <p>Con los estandares mas altos y comprometidos con nuestro trabajo. </p>
          <p> Los diferentes rubros en los que nos movemos, y la experiencia ganada, nos generan una gran cantidad de experiencia 
            e innovacion en los procesos aplicados.</p>
          <a href="" class="btn btn-primary">Ver Mas.</a>
        </div>
      </div>
    </div>
  </div>

<!-- EndTopImage-Attachment -->

<!--Body Container -->
  <div class="container">
    
    <div class="row text-center lt">
      <h2>Servicios Prestados</h2>
    </div>
  <!-- Grid -->
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="#" class="thumbnail home-thumb">
          <img src="/statics/images/thumbnails/Lambo1.jpg" alt="Lamborghini Diablo">
        </a>
        <h3>Exploracion</h3>
        <p>La exploración minera es la etapa inicial de la actividad minera, consiste en identificar las zonas por donde se ubican los yacimientos de minerales que luego - dependiendo de su dimensión y composición - serán explotados en un proyecto minero.</p>
        <a href="#" class="btn btn-danger">View</a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="#" class="thumbnail home-thumb">
          <img src="/statics/images/thumbnails/Lambo2.jpg" alt="Lamborghini Diablo">
        </a>
        <h3>Explotacion</h3>
        <p>La explotación mineral se puede dividir en cuatros tipos: la minería de superficie , la que se hace en el exterior a cielo abierto , la explotación minera subterránea ,construyendo galerías y túneles , la minería submarina , y la minería por pozos de perforación para obtener combustibles.</p>
        <a href="#" class="btn btn-danger">View</a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="Pagina2.html" class="thumbnail home-thumb">
          <img src="/statics/images/thumbnails/Lambo3.jpg" alt="Lamborghini Diablo">
        </a>
        <h3>Mineria Subterranea</h3>
        <p>Se realiza por medio de obras ytrabajos en el interior de la tierra tales como pozos, galerías, cámaras, túneles,socavones y planos para acceder a la masa de mineral y extraerla, sin tener quemover los estériles o materiales que recubren el yacimiento.</p>
        <a href="Pagina2.html" class="btn btn-danger">View</a>
      </div>
    </div>
  <!--EndGrid-->
    <div class="row text-center lt">
      <h2>Maquinaria</h2>
    </div>
  <!-- Grid -->
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="#" class="thumbnail home-thumb">
          <img src="/statics/images/thumbnails/Cat.jpeg" alt="Lamborghini Diablo">
        </a>
        <h3>Maquinaria de Carga</h3>
        <p>El Dúmper para Minería 785C está fabricado para rendir, diseñado para ser cómodo y construido para durar. Diseñado específicamente para aplicaciones de construcción y minería de gran producción, el Dúmper para Minería 785C mueve altos volúmenes de materiales para reducir su coste por tonelada.</p>
        <a href="#" class="btn btn-danger">View</a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="#" class="thumbnail home-thumb">
          <img src="/statics/images/thumbnails/Cat2.jpeg" alt="Lamborghini Diablo">
        </a>
        <h3>Excavadoras</h3>
        <p>Si está buscando una máquina grande para hacer más trabajo con menos combustible, no busque más allá de la nueva Excavadora Híbrida 336E H, la primera excavadora híbrida hidráulica de la industria. </p>
        <a href="#" class="btn btn-danger">View</a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="Pagina2.html" class="thumbnail home-thumb">
          <img src="/statics/images/thumbnails/Cat3.jpeg" alt="Lamborghini Diablo">
        </a>
        <h3>Sistemas Transportadores</h3>
        <p>Caterpillar ofrece soluciones de sistemas de transporte especiales de servicio pesado con diseños personalizados y productos de transportador para manejar los requisitos de manipulación de materiales a granel más exigentes, en aplicaciones subterráneas y de superficie. </p>
        <a href="Pagina2.html" class="btn btn-danger">View</a>
      </div>
    </div>
  <!--EndGrid-->

  </div>
<!--Body Container -->


<!-- Footer -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-text pull-left">
        <p>(c) 2014 Bootstrap</p>
      </div>
      <div class="navbar-text pull-right">
        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
      </div>
    </div>
  </div>
<!-- EndFooter -->

<!-- Js and BootStrap core -->

<!-- Modal -->
  <div class="modal fade" id="contacto" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="" class="form-horizontal" role="form">
          <div class="modal-header">
            <h4>Contacto</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="contact-name" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="contact-name" placeholder="Escriba su Nombre">
              </div>
            </div>
            <div class="form-group">
              <label for="contact-email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="contact-email" placeholder="example@domain.com">
              </div>
            </div>
            <div class="form-group">
              <label for="contact-message" class="col-sm-2 control-label">Mensaje</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- EndModal -->

  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/statics/js/bootstrap.min.js"></script>
</body>
  
</html>