<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Minera del Perú">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Minera SAC</title>
	<!-- Bootstrap -->
	<link href="/statics/css/bootstrap.min.css" rel="stylesheet">
	<!-- Icons -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- Estilos -->
	<link rel="stylesheet" href="/statics/css/estilos.css">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
	
<!-- NavBar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
     	<div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">S.M.Z Contratistas</a>
	        </div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="Nosotros">Nosotros</a></li>
					<li><a href="Proyectos">Proyectos</a></li>
					<li><a href="Operaciones">Operaciones</a></li>
					<li><a href="ResponsabilidadSocial">Responsabilidad Social</a></li>
					<li><a href="OportunidadLaboral">Oportunidad Laboral</a></li>
					<li><a href="#contacto" data-toggle="modal">Contacto</a></li>
					<li><button type="button" class="btn btn-success navbar-btn"><a href="SignUp" class="Btn-Loggin">Login</a></button></li>
				</ul>
			</div>
		</div>
	</div>
<!-- EnNavBar-->

		<!-- JumboTron -->
		<!--
			<div class="jumbotron text-center">
				<h1>Bootstrap Themes</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a href="" class="btn btn-primary">Buy</a>
				<a href="" class="btn btn-success">Premium</a>
			</div>
		-->
		<!-- EndJumboTron -->
	
<!-- Carousel -->

  <div id ="MyCarousel" class="carousel slide">
    
    <ol class="carousel-indicators">
        <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#MyCarousel" data-slide-to="1"></li>
        <li data-target="#MyCarousel" data-slide-to="2"></li>     
    </ol>

    <div class="carousel-inner">
        <div class="item active">
          <img src="/statics/images/Principal_Fotor.jpg" alt="Camion1" class="img-responsive">
          <div class="carousel-caption Principal-Text-Carousel">
          	<h1>S. M. Z. Contratistas</h1>
          </div>
        </div>

        <div class="item">
          <img src="/statics/images/Principal2_Fotor.jpg" alt="Camion1" class="img-responsive">
        </div>

        <div class="item">
          <img src="/statics/images/Principal3_Fotor.jpg" alt="Camion1" class="img-responsive">
        </div>
    </div>
  
    <a href="#MyCarousel" class="carousel-control left" data-slide ="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a href="#MyCarousel" class="carousel-control right" data-slide ="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

<!-- EndCarousel -->

<!--Body Container -->
	<div class="container">

	<!-- Grid -->
		<div class="row bigBox">
			
			<!-- JumboTron -->
				<div class="jumbotron text-center">
					<h1>Bienvenidos</h1>
					<p>Mas de 30 años aportando al desarrollo del Perù.</p>
					<a href="Nosotros" class="btn btn-primary">Conoce Mas de Nosotros</a>
				</div>
			<!-- EndJumboTron -->
		</div>
	<!-- EndGrid -->

		<div class="row">
			<div class="col-sm-4 text-center bigBox">
				<a href="#" class="thumbnail home-thumb">
					<img src="/statics/images/thumbnails/Historia.jpeg" alt="Historia">
				</a>
				<h3>Historia</h3>
				<p>Desde que la Compañía inició sus operaciones en 1985, el continuo esfuerzo y la dedicación le han permitido convertirse en la principal empresa contratista del Perú.</p>
				<a href="Nosotros" class="btn btn-danger">Ver Mas</a>
			</div>
			<div class="col-sm-4 text-center bigBox">
				<a href="#" class="thumbnail home-thumb">
					<img src="/statics/images/thumbnails/Personal.jpg" alt="Responsabilidad Laboral">
				</a>
				<h3>Responsabilidad Laboral</h3>
				<p>La política de responsabilidad social de S. M. Z. Contratistas están basada en cuatro ámbitos de acción: educación, salud, desarrollo productivo y fortalecimiento de organizaciones sociales.</p>
				<a href="ResponsabilidadSocial" class="btn btn-danger">Ver Mas</a>
			</div>
			<div class="col-sm-4 text-center bigBox">
				<a href="Pagina2.html" class="thumbnail home-thumb">
					<img src="/statics/images/thumbnails/certificacion.jpg" alt="Certificaciones">
				</a>
				<h3>Certificaciones</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem reiciendis quasi commodi, veritatis, itaque reprehenderit saepe quas maiores maxime rem accusantium natus iure sit odio in aliquid quo fugiat ipsam.</p>
				<a href="ResponsabilidadSocial/#certificados" class="btn btn-danger">Ver Mas</a>
			</div>
		</div>
	<!--EndGrid-->
	</div>
<!--Body Container -->


<!-- Footer -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="navbar-text pull-left">
				<p>&copy 2015 Contratistas</p>
			</div>
			<div class="navbar-text pull-right">
				<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
			</div>
		</div>
	</div>
<!-- EndFooter -->

<!-- Js and BootStrap core -->

<!-- Modal -->
	<div class="modal fade" id="contacto" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="" class="form-horizontal" role="form">
					<div class="modal-header">
						<h4>Contacto</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="contact-name" class="col-sm-2 control-label">Nombre</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="contact-name" placeholder="Escriba su Nombre">
							</div>
						</div>
						<div class="form-group">
							<label for="contact-email" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="contact-email" placeholder="example@domain.com">
							</div>
						</div>
						<div class="form-group">
							<label for="contact-message" class="col-sm-2 control-label">Mensaje</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="4"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Cerrar</a>
						<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<!-- EndModal -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/statics/js/bootstrap.min.js"></script>
</body>
	
</html>























