<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Minera del Perú">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Responsabilidad Social</title>
  <!-- Bootstrap -->
  <link href="../statics/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Estilos -->
  <link rel="stylesheet" href="../statics/css/estilos.css">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
  
<!-- NavBar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BootstrapBay</a>
          </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="Nosotros.html">Nosotros</a></li>
          <li><a href="Proyectos.html">Proyectos</a></li>
          <li class="active"><a href="Operaciones.html">Operaciones</a></li>
          <li><a href="Resp_Social.html">Responsabilidad Social</a></li>
          <li><a href="Op_Laboral.html">Oportunidad Laboral</a></li>
          <li><a href="#contacto" data-toggle="modal">Contacto</a></li>
          <li><button type="button" class="btn btn-success navbar-btn">Login</button></li>
        </ul>
      </div>
    </div>
  </div>
<!-- EnNavBar-->

<!-- TopImage-Attachment -->

  <div class="container-fluid top-container">
    <div class="row">
      <div class="col-md-12 top-image">
        <div class="text-center">
          <h1>Responsabilidad Social</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          <p>Sint voluptate labore illum velit molestias voluptas quisquam fugit similique, optio, eos ratione, aut ullam! Vitae laudantium nemo ipsam vero, rerum aut.</p>
          <a href="" class="btn btn-primary">Ver Mas.</a>
        </div>
      </div>
    </div>
  </div>

<!-- EndTopImage-Attachment -->

<!--Body Container -->
<div class="container">

  <div class="col-xs-12 Resp-BoxArea bg-grey">
            
    <div class="col-sm-8 text-center tt" id="one">
      <h2>Seguridad y Salud</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta beatae, sequi, itaque quaerat veritatis doloremque debitis quibusdam non voluptatem distinctio, hic earum veniam iusto ducimus laboriosam ipsam quod dignissimos maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aperiam corporis modi optio atque vero perferendis, sed cum explicabo quia, consequuntur sunt maiores tenetur mollitia totam eos quisquam harum voluptatem.</p>
    </div>

    <div class="col-sm-4">
      <a href="#" class="thumbnail home-thumb pre-thumb">
        <img src="../statics/images/thumbnails/Lambo1.jpg" alt="Lamborghini Diablo">
      </a>
    </div>

  </div>

</div>

<div class="container">
  <div class="row text-center lt">
    <h2>Ellos Confian en Nosotros</h2>
  </div>
</div>

<div class="container">
  
  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center">
      <img src="../statics/images/empresa1.png" alt="">
      <h4>Empresa 1</h4>
    </figure>
  </div>
  
  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center">
      <img src="../statics/images/empresa1.png" alt="">
      <h4>Empresa 2</h4>
    </figure>
  </div>

  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center">
      <img src="../statics/images/empresa1.png" alt="">
      <h4>Empresa 3</h4>
    </figure>
  </div>

  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center">
      <img src="../statics/images/empresa1.png" alt="">
      <h4>Empresa 4</h4>
    </figure>
  </div>

</div>

<div class="container">
  
  <div class="col-sm-2 col-sm-offset-2">
    <figure class="text-center">
      <img src="../statics/images/empresa1.png" alt="">
      <h4>Empresa 5</h4>
    </figure>
  </div>

  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center">
      <img src="../statics/images/empresa1.png" alt="">
      <h4>Empresa 6</h4>
    </figure>
  </div>

  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center">
      <img src="../statics/images/empresa1.png" alt="">
      <h4>Empresa 7</h4>
    </figure>
  </div>

</div>

<div class="container">
  <div class="row text-center lt">
    <h1>Medio Ambiente</h1>
  </div>
  <div class="row text-center">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero neque beatae tempora, delectus enim velit! Sint modi harum aspernatur et, nihil enim iure vitae praesentium omnis odit eligendi, iusto, tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi beatae, odit, quos numquam repudiandae cupiditate exercitationem saepe ex aliquid minima officiis ducimus nam. Quae dicta quasi molestias, id accusamus in.</p>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center bigBox">
      <a href="#" class="thumbnail home-thumb">
        <img src="../statics/images/thumbnails/Historia.jpeg" alt="Historia">
      </a>
    </div>
    <div class="col-sm-4 text-center bigBox">
      <a href="#" class="thumbnail home-thumb">
        <img src="../statics/images/thumbnails/Personal.jpg" alt="Responsabilidad Laboral">
      </a>
    </div>
    <div class="col-sm-4 text-center bigBox">
      <a href="Pagina2.html" class="thumbnail home-thumb">
        <img src="../statics/images/thumbnails/certificacion.jpg" alt="Certificaciones">
      </a>
    </div>
  </div>
</div>

  
<!--Body Container -->


<!-- Footer -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-text pull-left">
        <p>(c) 2014 Bootstrap</p>
      </div>
      <div class="navbar-text pull-right">
        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
      </div>
    </div>
  </div>
<!-- EndFooter -->

<!-- Js and BootStrap core -->

<!-- Modal -->
  <div class="modal fade" id="contacto" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="" class="form-horizontal" role="form">
          <div class="modal-header">
            <h4>Contacto</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="contact-name" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="contact-name" placeholder="Escriba su Nombre">
              </div>
            </div>
            <div class="form-group">
              <label for="contact-email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="contact-email" placeholder="example@domain.com">
              </div>
            </div>
            <div class="form-group">
              <label for="contact-message" class="col-sm-2 control-label">Mensaje</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- EndModal -->
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="../statics/js/bootstrap.min.js"></script>
</body>
  
</html>