<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Minera del Perú">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Responsabilidad Social</title>
  <!-- Bootstrap -->
  <link href="/statics/css/bootstrap.min.css" rel="stylesheet">
  <!-- Icons -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Estilos -->
  <link rel="stylesheet" href="/statics/css/estilos.css">
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
  
<!-- NavBar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">S.M.Z Contratistas</a>
          </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="Nosotros">Nosotros</a></li>
          <li><a href="Proyectos">Proyectos</a></li>
          <li><a href="Operaciones">Operaciones</a></li>
          <li class="active"><a href="ResponsabilidadSocial">Responsabilidad Social</a></li>
          <li><a href="OportunidadLaboral">Oportunidad Laboral</a></li>
          <li><a href="#contacto" data-toggle="modal">Contacto</a></li>
          <li><button type="button" class="btn btn-success navbar-btn"><a href="SignUp" class="Btn-Loggin">Login</a></button></li>
        </ul>
      </div>
    </div>
  </div>
<!-- EnNavBar-->

<!-- TopImage-Attachment -->

  <div class="container-fluid top-container">
    <div class="row">
      <div class="col-md-12 top-image">
        <div class="text-center">
          <h1>Responsabilidad Social</h1>
          <p>Nuestra contribución al desarrollo se enmarca en las siguientes líneas de acción </p>
          <p>Nuestra empresa considera que la participación activa de las comunidades es clave para identificar, priorizar y ejecutar los proyectos.</p>
          <a href="" class="btn btn-primary">Ver Mas.</a>
        </div>
      </div>
    </div>
  </div>

<!-- EndTopImage-Attachment -->

<!--Body Container -->
<div class="container">

  <div class="col-xs-12 Resp-BoxArea bg-grey">
            
    <div class="col-sm-8 text-center tt" id="one">
      <h2>Seguridad y Salud</h2>
        <p>
        Tenemos la determinación de mejorar continuamente en todos los ámbitos de nuestra gestión de salud y seguridad. Adoptamos un enfoque proactivo y preventivo con la seguridad, que apunta a infundir una sólida cultura en este campo, que implique integrar plenamente nuestros valores de seguridad en nuestro trabajo diario. <br/>

        Continuamos aplicando nuestro enfoque de riesgos a la salud y la seguridad mediante la actualización de nuestro marco de gestión de riesgos, lo que requiere que los gestionemos e identifiquemos, e implementemos los debidos controles críticos, equipos y procedimientos de seguridad.</p>
    </div>

    <div class="col-sm-4">
      <a href="#" class="thumbnail home-thumb pre-thumb">
        <img src="/statics/images/thumbnails/Lambo1.jpg" alt="Lamborghini Diablo">
      </a>
    </div>

  </div>

</div>

<div class="container">
  <div class="row text-center lt" id="certificados">
    <h2>Ellos Nos Certifican</h2>
  </div>
</div>

<div class="container">
  
  <div class="col-sm-2 col-sm-offset-2">
    <figure class="text-center thumbnail">
      <img src="/statics/images/thumbnails/iso14001.jpg" alt="">
    </figure>
  </div>
  
  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center thumbnail">
      <img src="/statics/images/thumbnails/iso9001.png" alt="">
    </figure>
  </div>

  <div class="col-sm-2 col-sm-offset-1">
    <figure class="text-center thumbnail">
      <img src="/statics/images/thumbnails/ohsas18001.jpg" alt="">
    </figure>
  </div>

</div>

<div class="container">
  <div class="row text-center lt">
    <h1>Medio Ambiente</h1>
  </div>
  <div class="row text-center">
    <p>Proteger el medio ambiente es uno de nuestros desafíos más importantes en materia de desarrollo sostenible. Buscamos conducir nuestra empresa de modo que minimicemos todo impacto negativo en el ambiente natural. Hemos asumido el compromiso de identificar, comprender y mitigar los impactos ambientales que podamos causar, y nuestra responsabilidad ambiental se encuentra integrada a nuestra planificación estratégica, sistemas de gestión y actividades diarias.</p>
  </div>

  <div class="row">
    <div class="col-sm-4 text-center bigBox">
      <a href="#" class="thumbnail home-thumb">
        <img src="/statics/images/thumbnails/Historia.jpeg" alt="Historia">
      </a>
    </div>
    <div class="col-sm-4 text-center bigBox">
      <a href="#" class="thumbnail home-thumb">
        <img src="/statics/images/thumbnails/Personal.jpg" alt="Responsabilidad Laboral">
      </a>
    </div>
    <div class="col-sm-4 text-center bigBox">
      <a href="Pagina2.html" class="thumbnail home-thumb">
        <img src="/statics/images/thumbnails/certificacion.jpg" alt="Certificaciones">
      </a>
    </div>
  </div>
</div>

  
<!--Body Container -->


<!-- Footer -->
  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-text pull-left">
        <p>(c) 2014 Bootstrap</p>
      </div>
      <div class="navbar-text pull-right">
        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
      </div>
    </div>
  </div>
<!-- EndFooter -->

<!-- Js and BootStrap core -->

<!-- Modal -->
  <div class="modal fade" id="contacto" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="" class="form-horizontal" role="form">
          <div class="modal-header">
            <h4>Contacto</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="contact-name" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="contact-name" placeholder="Escriba su Nombre">
              </div>
            </div>
            <div class="form-group">
              <label for="contact-email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="contact-email" placeholder="example@domain.com">
              </div>
            </div>
            <div class="form-group">
              <label for="contact-message" class="col-sm-2 control-label">Mensaje</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="4"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!-- EndModal -->


  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/statics/js/bootstrap.min.js"></script>
</body>
  
</html>